
<style type="text/css">
  .flickr_pagination {
 text-align: center;
 padding: 0.3em;
 cursor: default; }
 .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
   padding: 0.2em 0.5em; }
 .flickr_pagination .disabled {
   color: #aaaaaa
; }
 .flickr_pagination .current {
   font-style: normal;
   font-weight: bold;
   font-size: 15px;
   color: #ff0084
; }
 .flickr_pagination a {    color: #0063dc
;
   text-decoration: none; }
   .flickr_pagination a:hover, .flickr_pagination a:focus {
     border-color: #003366
;
     background: #0063dc
;
     color: white; }
 .flickr_pagination .page_info {
   color: #aaaaaa
;
   padding-top: 0.8em; }
 .flickr_pagination .previous_page, .flickr_pagination .next_page {
   border-width: 2px; }
 .flickr_pagination .previous_page {
   margin-right: 1
</style>
<%= form_tag employees_import_path, multipart: true, method: 'post' do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<br>

<% if @file_data.present? %>
<%= will_paginate @file_data , class: 'flickr_pagination'%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Phone no.</th>
    </tr>
  </thead>
  <tbody>
    <% @file_data.each do |file| %>
      <tr>
        <td><%= file['first_name'] %></td>
        <td><%= file['last_name'] %></td>
        <td><%= file['age'] %></td>
        <td><%= file['phone_no'] %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<% end %>